// font
$font_family: "Montserrat", sans-serif;
$font_size: 14px;

// color
$white: #ffffff;
$shark: #2a2f33;
$fedora: #6b6a6b;
$havelock_blue: #427ed5;
$shocking: #e280b1;

// img
$image_path: "/src/assets/img/";

// header
$header_h: 150px;
$nav-top_h: 50px;
$nav-bottom_h: $header_h - $nav-top_h;
$jumbotron_h: 65vh;

//main
$collection_card_h: 615px;
